{%set macro_list = ("access", "trunk", "accesschannel", "trunkchannel") %}

{% macro access(port, description, vlan, vlandict, portdict) -%}
interface {{ portdict.get(port) }}
description {{ description }}
switchport
switchport mode access
switchport access vlan {{ vlandict.get(vlan) }}
switchport block unicast
switchport block multicast
no cdp enable
spanning-tree portfast
spanning-tree bpdufilter enable
spanning-tree bpduguard enable
no shutdown
{%- endmacro %}

{% macro trunk(port, description, vlans, vlandict, portdict) -%}
interface {{ portdict.get(port) }}
 description {{ description }}
 switchport
 switchport mode trunk
 switchport trunk allowed vlan none
 {%- set vlanlist = vlans.split(',') %}
 switchport trunk allowed vlan {% for vlan in vlanlist -%}
{{ vlandict.get(vlan) }}
{%- if not loop.last %}, {% endif %}
{%- endfor %}
 switchport nonegotiate
 switchport block unicast
 switchport block multicast
 snmp ifindex persist
 no cdp enable
 no vtp
 no lldp transmit
 no lldp receive
 no shutdown
{%- endmacro %}

{% macro accesschannel(port, description, vlan, vlandict, portdict, portchannel) -%}
interface {{ portdict.get(port) }}
 description {{ description }}
 switchport
 switchport mode access
 switchport access vlan {{ vlandict.get(vlan) }}
 switchport block unicast
 switchport block multicast
 no cdp enable
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
{% if portchannel %}
 spanning-tree port type normal
 channel-group {{portchannel}} mode active
{%- endif %}
 no shutdown
{%- endmacro %}

{% macro trunkchannel(port, description, vlans, vlandict, portdict, portchannel) -%}
interface {{ portdict.get(port) }}
 description {{ description }}
 switchport
 switchport mode trunk
 switchport trunk allowed vlan none
 {%- set vlanlist = vlans.split(',') %}
 switchport trunk allowed vlan {% for vlan in vlanlist -%}
{{ vlandict.get(vlan) }}
{%- if not loop.last %}, {% endif %}
{%- endfor -%}
{% if portchannel %}
 spanning-tree port type normal
 channel-group {{portchannel}} mode active
{%- endif %}
 no cdp enable
 no shutdown
{%- endmacro %}

{% macro shutdown(port, description, vlan, vlandict, portdict) -%}
interface {{ portdict.get(port) }}
 description {{description}}
 switchport
 switchport access vlan {{ vlandict.get(vlan) }}
 switchport mode access
 switchport block unicast
 switchport block multicast
 no cdp enable
 spanning-tree portfast
 spanning-tree bpdufilter enable
 spanning-tree bpduguard enable
 shutdown
{%- endmacro %}

